

.App-header {
  background-color: teal;
  height: 100px;
  padding: 20px;
  color: white;
  font-size: 50px;
  text-align: center;
}

.logout {
  text-align: center;
}

img{
  max-height: 100px;
  max-width: 100px;
}

h1{
  font-size: 20px;
  color: teal;
}

label {
  color: teal;
  font-size: 20px;
}



.form-container {
  margin: auto;
  border-radius: 25px;
  padding: 20px;
  width: 700px;
  height: 400px;
  border-width:2px;
  border-style:solid;
  border-color:black;
  display: block;
  margin-bottom: 5px;
  
}

button {
  margin: 20px;

}